<div class="well row">
    <div class="col-sm-1 form-group form-inline text-center">
        <input type="number" class="form-control" [(ngModel)]="set.numberOfExecutions" min="1" max="100" step="1" /> X
    </div>
    <div class="col-sm-10">
        <div class="row" *ngFor="#step of set.steps">
            <div class="col-sm-10">
                <my-step [step]="step"></my-step>
            </div>
            <div class="col-sm-2">
                <button class="btn btn-fab btn-fab-mini btn-danger" (click)="removeStep(step)">
                    <i class="material-icons">clear</i>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10">
                <p class="lead">{{set.distance}} m</p>
            </div>
            <div class="col-sm-2">
                <button class="btn btn-fab btn-fab-mini btn-primary" (click)="addStep()">
                    <i class="material-icons">add</i>
                </button>
            </div>
        </div> 
    </div>
    <div class="col-sm-1 text-center">
        <p class="lead">{{set.totalDistance}} m</p>
    </div>
</div>