<div class="row">
    <div class="col-sm-2 form-group form-inline">
        <div class="input-group">
            <input type="number" class="form-control input-sm" [(ngModel)]="step.distance" min="25" max="10000" step="25" placeholder="Distance"/>
            <div class="input-group-addon">m</div>
        </div>
    </div>
    <div class="col-sm-8 form-group form-inline">
        <button *ngFor="#tag of step.tags" class="btn btn-raised btn-default">{{tag.name}}</button>
        <input type="text" class="form-control input-sm" [(ngModel)]="newTagName" (keyup.enter)="addTag()" placeholder="Tag name"/>
    </div>
    <div class="col-sm-2 form-group form-inline">
        <div class="input-group">
            <input type="number" class="form-control input-sm" [(ngModel)]="step.rest" min="0" max="10000" step="5" placeholder="Rest"/>
            <div class="input-group-addon">s</div>
        </div>
    </div>
</div>